config*
!config-example.toml
!config.example.md

!datasets.example.txt

datasets

full-snaplist

snaplist*

logs/
__pycache__/
*.py[cod]
.pytest_cache/
build/
.venv-build/
.build-pyinstaller/
dist/*
!dist/README.md
*.egg-info/
